<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student_Master_List</title>
    <link rel="stylesheet" href="/student_datalist/student_datalist.css">
</head>
<body>
    <div class="mainpage">
        <h2>Name:- Vishvas Panshiniya</h2>
        <h2>Employee ID:- 24DEV065</h2>
    </div>
    <h2>Student_List</h2>
    <div>
        <table>
            <tr>
                <th>StudentID</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Date_Of_Birth</th>
                <th>Contact</th>
                <th>Email</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
                <th>Zipcode</th>
                <th>Created_Time</th>
            </tr>
            <%for(let i = 0 ; i < alldata2.length; i ++ ) { %>
                <tr>
                    <td><%= alldata2[i].studentid %></td>
                    <td><%= alldata2[i].firstname %></td>
                    <td><%= alldata2[i].lastname %></td>
                    <td><%= alldata2[i].dob %></td>
                    <td><%= alldata2[i].contact_no %></td>
                    <td><%= alldata2[i].email %></td>
                    <td><%= alldata2[i].address %></td>
                    <td><%= alldata2[i].city %></td>
                    <td><%= alldata2[i].state %></td>
                    <td><%= alldata2[i].country %></td>
                    <td><%= alldata2[i].zipcode %></td>
                    <td><%= alldata2[i].created_at %></td>
                </tr>
                <% } %>
        </table>
    </div>
</body>
</html>